{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/autor/autor.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block title %}
Autori
{% endblock %}

{% block body %}
<h1>Lista de autori</h1>


<table>
    <thead>
    <tr>
        <th>Nume</th>
        <th>Prenume</th>
        <th>Detalii</th>
    </tr>
    </thead>
    <tbody>
    {% for autor in autori %}
    <tr>
        <td>{{ autor.nume }}</td>
        <td>{{ autor.prenume }}</td>
        <td><a href="{{ url_for('autor', id=autor.id) }}"><i class="fa fa-refresh"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
