{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/autor/autor.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block title %}
Autori
{% endblock %}

{% block body %}
<h1>Lista de autori</h1>
<button onclick="window.location.href='autori/create';">Creare</button>

<div class="container">
  {% for autor in autori %}
  <div class="autor">
    <div class="detalii">
      <img src="{{ url_for('static', filename='imagini_carte/' + autor.imagine) }}" alt="Imagine autor">
      <p><strong>Nume:</strong> {{ autor.nume }}</p>
      <p><strong>Prenume:</strong> {{ autor.prenume }}</p>
    </div>
    <div class="actiuni">
      <p><a href="{{ url_for('autor', id=autor.id) }}"><i class="fa fa-info-circle"></i> </a></p>
      <form action="{{ url_for('delete_autor', id=autor.id) }}" method="POST">
        <button type="submit" class="icon-button">
          <i class="fa fa-trash"></i>
        </button>
      </form>
      <p><a href="{{ url_for('update_autor', id=autor.id) }}"><i class="fa fa-refresh"></i> </a></p>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}
