{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/autor/autor.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block title %}
Autori
{% endblock %}

{% block body %}
<h1>Lista de autori</h1>


<div class="container">
  {% for autor in autori %}
  <div class="autor">
    <img src="{{ url_for('static', filename='imagini_carte/' +autor.imagine) }}" alt="Imagine autor">
    <div class="detalii">
      <p>Nume: {{ autor.nume }}</p>
      <p>Prenume: {{ autor.prenume }}</p>
      <a href="{{ url_for('autor', id=autor.id) }}"><i class="fa  fa-info-circle"></i></a>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}
