{% extends 'base.html' %}

{% block title %}
List of Books
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carte/carte.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% endblock %}

{% block body%}
<h1>List of Books</h1>
<button onclick="window.location.href='carti/creare';">Creare</button>


<div class="container">
  {% for carte in carti %}
  <div class="carte-box">


  <img src="{{ url_for('static', filename='imagini_carte/' +carte.image) }}" alt="Imagine carte">

    <h2>{{ carte.titlu }}</h2>
    <p><strong>Introducere:</strong> {{ carte.intro }}</p>
    <p><strong>Autor:</strong> {{ carte.autor.prenume }} {{ carte.autor.nume }}</p>

    <div class="buton-container">
       <form action="/carti/{{ carte.id }}/delete" method="POST">
        <button class="buton" type="submit"><i class="fa fa-trash"></i></button>
      </form>
      <a href="{{ url_for('update', id=carte.id) }}" class="buton" style="text-decoration: none;"><i class="fa fa-refresh"></i></a>

      <a href="{{ url_for('carte', id=carte.id) }}" class="buton" style="text-decoration: none;"><i class="fa fa-info-circle"></i></a>
    </div>
  </div>
  {% endfor %}
</div>






{% endblock %}