
/* Stilizarea butonului de intoarcere */
.sageata-inapoi {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Efectul de hover pentru butonul de intoarcere */
.sageata-inapoi:hover {
  background-color: #3e8e41;
}

/* Stilizarea containerului pentru lista de detalii si butonul de intoarcere */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}


/* Setam fontul, fundalul si marginile pentru body */
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

/* Stilizam formularul */
form {
  background-color: #fff;
  padding: 20px;
  margin: 50px auto;
  width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Stilizam etichetele pentru inputuri */
label {
  display: block;
  margin-bottom: 10px;
}

/* Stilizam inputurile */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

/* Stilizam butonul de submit */
button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #3ebf9b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Efectul de hover pentru input-uri si buton */
input[type="text"]:hover,
button[type="submit"]:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Animatie la hover pentru buton */
button[type="submit"]:hover {
  background-color: #37ad84;
  transition: background-color 0.3s ease-in-out;
}

/* Adaugam efect de animatie folosind animate.css */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: fadeInDown;
}

/* Stilizam sagetile de intoarcere si adaugam animatie */
.sageata-inapoi {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  background-color: #3ebf9b;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.sageata-inapoi:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}


/* Stilizarea titlului */
h1 {
  background-color: #f8f8f8;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 36px;
  text-align: center;
}

/* Efectul de animatie pentru titlu */
h1 {
  animation: fadeIn 1s ease;
}

/* Definirea animatiei pentru titlu */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.birthdate-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  margin-right: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

option {
  font-size: 14px;
}

