

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(200, 70%, 50%); /* Culoare neobișnuită */
  padding: 20px;
}


.container img:not(.no-animation) {
  width: 300px;
  transform: translateX(0px);
  animation: float 6s ease-out infinite;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.my-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: none;
}



.container img.my-image.no-animation {
  animation: none;
}



.container p {
  font-size: 22px;
  color: #0c0c0c;
  margin-top: 20px;
  /*margin-bottom: 240px;*/
  line-height: 1.6;
  text-align: justify;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  animation: fade-in 1s ease-out;
}



@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.animatie {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}

