.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 0.5s;
}

.carte-box {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  animation: slideIn 0.5s;
}

.carte-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #333; /* Adaugă culoarea de fundal dorită */
}

.carte-box img {
  width: 100%;
  height: 200px; /* Ajustează înălțimea imaginii după preferință */
  object-fit: cover; /* Asigură redimensionarea proporțională a imaginii */
  margin-bottom: 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.carte-box:hover img {
  opacity: 0.9;
}

.carte-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #000000; /* Schimbă culoarea textului la negru */
  transition: color 0.3s ease; /* Adaugă tranzitie de culoare */
}

.carte-box:hover h2 {
  color: #ffffff; /* Schimbă culoarea textului la alb la hover */
}

.carte-box p {
  margin-bottom: 5px;
  color: #0a0a0a; /* Schimbă culoarea textului la o nuanță mai deschisă de gri */
}
.carte-box:hover p {
  color: #ffffff; /* Schimbă culoarea textului la alb la hover */
}

.buton-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buton-container button,
.buton-container a {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #0c0c0c;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buton-container button:hover,
.buton-container a:hover {
  background-color: #0000FF;
}

.fa {
  font-size: 18px;
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-info-circle:before {
  content: "\f05a";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


/* Stilizare pentru titlul principal */
h1 {
  font-size: 32px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Efect de hover pentru titlul principal */
h1:hover {
  color: #FF0000;
  transform: rotate(5deg);
  transition: color 0.3s ease, transform 0.3s ease;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Numărul de rânduri dorite */
}


