

/* Alte stilizări adiționale pot fi adăugate aici */


/* Stilizarea butonului de intoarcere */
.sageata-inapoi {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Efectul de hover pentru butonul de intoarcere */
.sageata-inapoi:hover {
  background-color: #3e8e41;
}

/* Stilizarea containerului pentru lista de detalii si butonul de intoarcere */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}



/* Stilizare formular */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #337ab7;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #337ab7;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #337ab7;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #23527c;
}

/* Animatie de fadeIn pentru imaginea curenta */
.current-image {
  max-width: 100px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.image-carte {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  /* Alte stilizări adiționale pot fi adăugate aici */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animatie de fadeOut pentru imaginea noua */
.new-image {
  max-width: 100px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

