{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block body%}


<div class="container">
    <img src="static/Bunescu-Gabriel.jpg" alt="Imaginea mea" class="my-image animate">
    <p>
        Numele meu este Bunescu Gabriel și am 22 de ani. Sunt student la Universitatea Tehnică a Moldovei, la Facultatea de Calculatoare, Informatică și Microelectronică, specializarea Tehnologii Informaționale, în grupa TI-202. Îmi place să explorez și să învăț diferite limbaje de programare, iar în prezent sunt pasionat de Python. În particular, sunt fascinat de framework-urile Django și Flask, care îmi permit să dezvolt aplicații web moderne și eficiente.

Django este un framework puternic și scalabil, cunoscut pentru abordarea sa convențională și structurată în dezvoltarea aplicațiilor web. Flask, pe de altă parte, este un framework minimalist și flexibil, care oferă o libertate mai mare în organizarea proiectelor web.

De-a lungul timpului, am avut ocazia să lucrez cu diverse tehnologii și biblioteci din ecosistemul Python, cum ar fi SQLAlchemy pentru manipularea bazelor de date, Flask-RESTful pentru construirea de API-uri și Django REST Framework pentru dezvoltarea de aplicații web bazate pe REST.

În plus, am fost implicat în proiecte practice și în dezvoltarea de site-uri web personalizate, folosind aceste framework-uri pentru a crea experiențe web interactive și ușor de utilizat.

Îmi place să fiu mereu la curent cu ultimele tendințe și tehnologii din domeniul dezvoltării web și sunt mereu în căutarea de noi provocări pentru a-mi dezvolta abilitățile și cunoștințele în programare.

Îmi place să transform ideile în realitate și să contribui la dezvoltarea soluțiilor tehnologice inovatoare. Sunt pasionat de domeniul Tehnologiilor Informaționale și sunt nerăbdător să-mi construiesc o carieră în acest domeniu în continuă evoluție.
</p>

<!--     <embed src="/static/utm_certificate_Bunescu Gabriel.pdf" type="application/pdf">-->
<object data="/static/utm_certificate_Bunescu Gabriel.pdf" type="application/pdf" width="100%" height="600px">
  <p>Fișierul PDF nu poate fi afișat. Îl poți descărca folosind <a href="/static/utm_certificate_Bunescu Gabriel.pdf">acest link</a>.</p>
</object>
<!--<iframe src="/static/utm_certificate_Bunescu Gabriel.pdf" width="100%" height="600px"></iframe>-->


    <img src="static/concurs-db.jpg" alt="Imaginea mea" class="my-image no-animation">


  </div>



{% endblock %}